# Dependencies
node_modules/
.pnp
.pnp.js

# Production build outputs
dist/
build/

# Vercel
.vercel

# Testing & Coverage
coverage/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment secrets (Pastikan file env yang berisi key tidak ter-commit ke GitHub)
.env
.env.*
!.env.example

# OS / Editor files
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
